{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "60",
          "firefox": "60",
          "ie": "11",
          "edge": "14",
          "safari": "6",
          "ios": "10"
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
